h1 {
    text-align: center;
}

body{
    margin: auto;
    text-align: left;
}

.monkey {
    text-align: center;
}

a {
    font-size: 20px;
}

#HomePageLogo { 
    position: absolute; 
    top: 3px; 
    left: 15px; 
}

.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.NavBar ul {
    border: 2px rgb(75, 108, 200);
}   

ul.NavBar li {
    float: right;
}

ul.NavBar li a {
    display: block;
    color: rgb(75, 108, 200);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 23px Georgia;
}

ul.NavBar li a:hover {
    background-color: rgb(75, 108, 200);
    color: white;
}

ul.footer li {
    float: left;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ul.footer li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.footer li a img {
    border: none;
    border-radius: 50%;
}

.GetInvolvedPage h2 {
    text-align: center;
    font: 40px bold Georgia;
}

.GetInvolvedPage h4 {
    text-align: center;
    font: bold Georgia;
}

.WebsiteHomePage img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.WebsiteHomePage {
    position: relative;
}

.WebsiteHomePage h1{
    position: absolute;
    font: 4vw Copperplate, fantasy;
    top: 17px;
    left: 50px;
    right: 50px;
    color: rgb(75, 108, 200);
    text-shadow: 2px 2px 4px #000000;
}

#OurMissionText h2{
    text-align: center;
    font: 3vw Copperplate, fantasy;
    color:rgb(75, 108, 200);
}

#OurMissionText p {
    text-align: center;
    font: 20px Georiga;
}

.GetInvolvedContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.GetInvolvedContainer h2 {
    font: 3vw Copperplate, fantasy;
    color: rgb(75, 108, 200);
}

.AboutPageContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.AboutPageContainer h2 {
    font: 3vw Copperplate, fantasy;
    color: rgb(75, 108, 200);
}

.CopyrightNotice {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.Team li {
    list-style-type: none;
    text-align: center;
}


.GalleryContainer1 {
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    display: flex;
}

.GalleryContainer2 {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
        'img-1 img-2 img-3'
        'img-4 img-5 img-6'
        'img-7 img-8 img-9';
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i{
    color: rgba(255,255,255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255,255,255,.6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    background-image: url("Images/IMG_1670.JPG");
}

.img-2 {
    grid-area: img-2;
    background-image: url("PiratesCoveTrash.JPG");
}

.img-3 {
    grid-area: img-3;
    background-image: url("Images/IMG_1701.JPG");
}

.img-4 {
    grid-area: img-4;
    background-image: url("Images/IMG_1702.JPG");
}

.img-5 {
    grid-area: img-5;
    background-image: url("Images/IMG_1703.JPG");
}

.img-6 {
    grid-area: img-6;
    background-image: url("Images/IMG_1704.JPG");
}

.img-7 {
    grid-area: img-7;
    background-image: url("Images/IMG_1744.JPG");
}

.img-8 {
    grid-area: img-8;
    background-image: url("Images/IMG_1745.JPG");
}

.img-9 {
    grid-area: img-9;
    background-image: url("Images/IMG_1746.JPG");
}

@media screen and (max-width: 835px) {
    .image-gallery {
        grid-template-areas: 
        'img-1 img-2 img-2'
        'img-3 img-4 img-4'
        'img-5 img-6 img-6'
        'img-7 img-8 img-8'
        'img-9 img-9 img-9';
    }
}

@media screen and (max-width: 600px) {
    .image-gallery {
        grid-template-areas: 
        'img-1 img-1 img-1'
        'img-2 img-2 img-2'
        'img-3 img-3 img-3'
        'img-4 img-4 img-4'
        'img-5 img-5 img-5'
        'img-6 img-6 img-6'
        'img-7 img-7 img-7'
        'img-8 img-8 img-8'
        'img-9 img-9 img-9';
    }
}

@media screen and (max-width: 376px) {
    .image-gallery {
        grid-template-areas: 
        'img-1 img-1 img-1'
        'img-2 img-2 img-2'
        'img-3 img-3 img-3'
        'img-4 img-4 img-4'
        'img-5 img-5 img-5'
        'img-6 img-6 img-6';
    }
    .WebsiteHomePage img {
        width:376px;
        height: auto;
    }
}

.TrashWeight {
    position: absolute;
    text-align: center;
    top: 40vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font: 60px Copperplate, fantasy;
    color: lightblue;
    text-shadow: 2px 2px 4px rgb(75, 108, 200);
}