h1 {
    text-align: center;
}

body{
    margin: auto;
    text-align: left;
}

.monkey {
    text-align: center;
}

a {
    font-size: 20px;
}

#HomePageLogo { 
    position: absolute; 
    top: 3px; 
    left: 15px; 
}

.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.NavBar ul {
    border: 2px rgb(75, 108, 200);
}   

ul.NavBar li {
    float: right;
}

ul.NavBar li a {
    display: block;
    color: rgb(75, 108, 200);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 23px Georgia;
}

ul.NavBar li a:hover {
    background-color: rgb(75, 108, 200);
    color: white;
}

ul.footer li {
    float: left;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ul.footer li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.footer li a img {
    border: none;
    border-radius: 50%;
}

.GetInvolvedPage h2 {
    text-align: center;
    font: 40px bold Georgia;
}

.GetInvolvedPage h4 {
    text-align: center;
    font: bold Georgia;
}

.WebsiteHomePage img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.WebsiteHomePage {
    position: relative;
}

.WebsiteHomePage h1{
    position: absolute;
    font: 4vw Copperplate, fantasy;
    top: 17px;
    left: 50px;
    right: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#OurMissionText h2{
    text-align: center;
    font: 3vw Copperplate, fantasy;
    color:rgb(75, 108, 200);
}

#OurMissionText p {
    text-align: center;
    font: 20px Georiga;
}

.GetInvolvedContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.GetInvolvedContainer h2 {
    font: 3vw Copperplate, fantasy;
    color: rgb(75, 108, 200);
}

.AboutPageContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.AboutPageContainer h2 {
    font: 3vw Copperplate, fantasy;
    color: rgb(75, 108, 200);
}