html {
    background-color: white;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.menu-hr {
    border: none;
    border-top: 3px double #333;
}

a {
    text-decoration: none;
    color: green;
}

footer {
    padding: 2%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.projects {
    padding-top: 10%;
}

.projects p {
    font-style: italic;
}

.footer-links {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.hutton-grabiel-main {
    font-family: Iosevka;
    font-weight: bolder;
    font-size: 20px;
    float: left;
}

.hutton-grabiel-main :hover {
    color: green;
}

.menu-bar {
    border: 10px white;
    font-size: 20px;
}

.menu-bar ul {
    list-style: none;
    overflow: hidden;
    font-family: Iosevka;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.menu-bar ul li :hover {
    color: green;
}

.menu-bar ul li a {
    float: right;
    text-align: center;
    color: black;
    padding-top: 10px;
    text-decoration: none;
}
